body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #032A3B;
    background-size: cover;
}

.register > a{
    color: white;
}

.login-parent-box {
    height: 77%;
    background-image: url("/static/image/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.login-box h1{
    float: left;
    font-size:33px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 35px;
    padding: 13px 0;
}

.textbox{
    width:100%;
    overflow:hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center
}

.textbox input{
    border: none;
    outline:none;
    background: none;
    color: white;
    font-szie:18px;
    width: 80%;
    float: left;
    margin:0 10px;
}

#submit{
    width:100%;
    background: none;
    border:2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size:17px;
    cursor: pointer;
    margin: 12px 0;
}

.btn {
    width:100%;
    background: none;
    border:2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size:17px;
    cursor: pointer;
    margin: 12px 0;
}